.navIcon {

    width: 50px;
    box-shadow: 0px 0px 4px 0px white;
    border-radius: 40px;


}

.navbar {

    background-color: #110b19 !important;

}

.btnStyle {

    border: 1px solid #99d7fe !important;
    color: white;

}

.btnStyle:hover {

    background-color: #99d7fe !important;

}

.inputStyle {

    border: 2px solid #99d7fe !important;

}

.inputStyle::placeholder {

    color: #110b19 !important;

}

.navbar-toggler {

    border: 1px solid white;
    background-color: white !important;

}

.containerResponse {

    border: 2px solid white;
    padding: 15px;
    width: 15%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 3em;
    border: 1px solid black;
}

.responseImg {

    width: 100%;
    padding: 10px;

}

.containerAll {

    display: flex;
    justify-content: center;
    gap: 4em;


}

.containerItems2 {

    margin-top: 3em;
    box-shadow: 0px 0px 4px 2px black;
    background-color: #99d7fe;
    padding: 30px;
    border-radius: 10px;

}

.itemsText {

    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;

}

body {

    background: url('/static/img/wallpaper/digimon.gif');
    background-size: 100%;

}

@media only screen and (width: 400px) {
    body {

       
        background-size: 250%;
        background-position-x: 30%;
    
    }

    .containerItems2 {

        width: 100%;
        height: 30vh !important;
    }

    .itemsText {

        font-size: 15px;
    
    }

    .containerResponse {

        width: 50%;
        
    }

    .containerAll { 
    
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    }
  }

  @media only screen and (width: 554px) {
    body {

       
        background-size: 250%;
        background-position-x: 20%;
    
    }


    .containerItems2 {

        width: auto;
        height: 40vh !important;
    }

    .itemsText {

        font-size: 20px;
    
    }

    .containerAll {

        margin-bottom: 2em;

    }

    .containerResponse {

        width: 50%;
        
    }

    .containerAll { 
    
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    }
  }

  @media only screen and (width: 425px) {
    body {

       
        background-size: 250%;
        background-position-x: 20%;
    
    }


    .containerItems2 {

        width: 100%;
        height: 30vh !important;
    }

    .itemsText {

        font-size: 20px;
    
    }

    .containerAll {

        margin-bottom: 2em;
        margin-top: 2em;
    }

    .containerResponse {

        width: 50%;
        
    }

    .containerAll { 
    
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    }
  }


  @media only screen and (width: 375px) {
    body {

       
        background-size: 250%;
        background-position-x: 20%;
    
    }


    .containerItems2 {

        width: 100%;
        height: 20vh !important;
    }

    .itemsText {

        font-size: 13px;
    
    }

    .containerAll {

        margin-bottom: 2em;
        margin-top: 2em;
    }

    .containerResponse {

        width: 45%;
        
    }

    .containerAll { 
    
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    }
  }

  @media only screen and (width: 320px) {
    body {

       
        background-size: 250%;
        background-position-x: 20%;
    
    }


    .containerItems2 {

        width: 100%;
        height: 13vh !important;
        padding: 6px;

    }

    .itemsText {

        font-size: 13px;
    
    }

    .containerAll {

        margin-bottom: 2em;
        margin-top: 2em;
    }

    .containerResponse {

        width: 55%;
        
    }

    .containerAll { 
    
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    }
  }

  @media only screen and (width: 768px) {
    body {

       
        background-size: 250%;
        background-position-x: 20%;
    
    }


    .containerItems2 {

        width: 100%;
        height: auto !important;
        padding: 30px;

    }

    .itemsText {

        font-size: 40px;
    
    }

    .containerAll {

        margin-bottom: 2em;
        margin-top: 2em;
    }

    .containerResponse {

        width: 100% ;
        
    }

    .containerAll { 
    
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    }
  }